<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new note</title>
</head>
<body>
    <form action="/notes" method="post">
         <input placeholder="Enter a task name" name="taskName">
         <br>
         <textarea placeholder="Enter about your task" row="20" cols="30" name="Aboutthetask"></textarea>
         <button>Submit</button>
    </form>
</body>
</html>